/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 6rem;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url(JosefinSans-Bold.ttf)
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.footer-col-2{
    flex: 1;
    text-align: center;
    cursor: pointer;
    background: #FCA4A6;
    background-color: #FCA4A6;
}
.footer-col-2 p{
    color: #8a8a8a;
    font-family: JosefinSans-Bold;
}
hr{
    border: none;
    background: #535252;
    height: 1px;
    margin: 20px 0;
}
.img {
    height: 100px;
}
.end {
    text-align: center;
}
.footer-col-2 h3{
    color: #000;
    margin-bottom: 20px; 
}
h1,p,ul{
  margin: 0;
}
.home__description{
  font-family: JosefinSans-Bold;
}
ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 3rem;
  width: calc(100% - 3rem);
  margin-left: 1rem;
  margin-right: 1rem;
 
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FCA4A6;
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}
.nav__items{
  margin-bottom: 2rem;
  Cursor: pointer;
}
.share{
  font-family: 'Poppins', sans-serif;
  color: #C1576A;
}
.bx{
  color: #C1576A;
}
  .share:hover{
  color: #fff;
}
  .bx:hover{
  color: #fff;
}
.nav__close{
    color: #C1576A;
}
.nav__link, .nav__logo, .nav__toggle{
  color: #C1576A;
}
.nav__toggle{
  color: #FCF8F8;
}
.nav__link:hover{
  color: #FCF8F8;
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  background-color: #FCA4A6;
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}
.home__container1{
  height: calc(150vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}
.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.home__img img{
  position: absolute;
  top: 0;
  left: 0;
}

.home__data{
  color: #FCF8F8;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
  color: #fff;
  text-color: #fff;
}

.home__button{
  display: inline-block;
  background-color: #C1576A;
  color: #FCF8F8;
  padding: 1.125rem 2rem;
  border-radius: .5rem;
}

.home__button:hover{
  background-color: #A83E51;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
   
  }
  body{
    margin: 10px;
    padding: 0;
    background-color: #FCA4A6;
  }
  .home__title{
    margin: 0px;
  }
  .nav{
    height: calc(4.5rem);
  }

  .nav__toggle, .nav__close{
    display: none;
    color: #FCF8F8;
  }
  .nav__link{
     color: #FCF8F8;
  }
  .nav__link:hover{
  color: #C1576A;
}
  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__items{
    margin-left: 3rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    Cursor: pointer;
  }
  .share{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.bx{
  color: #fff;
}
    .share:hover{
  color: #C1576A;
}
    .bx:hover{
  color: #C1576A;
}
  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
   .home__container1{
    height: 150vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }

  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
   
  }

  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }
.home__container1{
    justify-content: initial;
    column-gap: 14.5rem;
  }
  .home__img{
    width: 604px;
    height: 466px;
  }

  .home__img img{
    width: 604px;
  }
}
